#!/usr/bin/make -f
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh  $@

override_dh_installchangelogs:
	dh_installchangelogs docs/CHANGES

override_dh_installdocs:
	dh_installdocs -X docs/CHANGES -X docs/INSTALL

override_dh_install: 
	dh_install
	for i in $$(find debian/dimp1-base -name "*.php*"); do \
		cat $$i | \
		sed -e "s@define('HORDE_BASE'.*;@define\('HORDE_BASE', '/usr/share/horde3\'\);@" |\
		sed -e "s@define('DIMP_BASE'.*;@define\('DIMP_BASE', '/usr/share/horde3/dimp'\);@" \
		> $$i.rew; \
		cat $$i.rew > $$i; \
		rm -f $$i.rew; \
		done
	find debian/dimp1-base -regex '.*\.\(xml\|png\|gif\|css\|js\|jpg|html\)$$' -type f -exec chmod -x '{}' \; 
	#### copy configuration files ####
	for i in config/*.dist; do \
		NAME=etc/horde/dimp1/$$(basename $$i ".dist"); \
		cp -a $$i debian/dimp1/$$NAME; \
		done
	touch debian/dimp1/etc/horde/dimp1/conf.php
	echo "Deny from all" > debian/dimp1/etc/horde/dimp1/.htaccess
